@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 30, 30, 30;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.content-actions>span {
  margin-right: 10px;
  color: #b1b1b1;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

main {
  box-sizing: border-box;
}

.content {
  padding: 20px 15px;
  border-radius: 10px;
  margin: 20px 20px;
}